.table {
  width: 100%;
  border-collapse: collapse;
}

.textHeader {
  border: 1px solid #ddd;
  padding: 8px;
  background-color: #3b3b3b;
  font-weight: bold;
  color: white;
}

.trList:nth-child(even) {
  background-color: #8a8686;
}
.tdItem {
  border: 1px solid #ddd;
  padding: 8px;
}
